%div.dbtables
  %h4 Tables list:
  .list
    - connection.table_names.each do |tname|
      .dbtable
        %a.q{:href=>table_content_url(tname)}= tname
        %a.s{:href=>table_scheme_url(tname)} (s)
